<launch>
    <!-- 
          NOTICE: Installation of rtabmap is required for using this launch file:
                  For installation type:
                        apt-get install ros-kinetic-rtabmap-ros
    -->
    <arg name="camera"              	  default="D435i"/>		<!-- Note: Replace with camera name -->
    <arg name="use_rviz"                  default="false"/>
    <arg name="use_rtabmapviz"            default="false"/>
    

    <include file="$(find realsense2_camera)/launch/rs_rgbd.launch">
            <arg name="camera"                         value="$(arg camera)"/>
            
    </include>

    <include file="$(find rtabmap_ros)/launch/rtabmap.launch">
            <arg name="rtabmap_args"       value="--delete_db_on_start"/>
            <arg name="depth_topic"        value="/$(arg camera)/aligned_depth_to_color/image_raw"/>
            <arg name="frame_id"           value="$(arg camera)_link"/>
            <arg name="visual_odometry"    value="true"/>
            <arg name="rgb_topic"          value="/$(arg camera)/color/image_raw"/>
            <arg name="camera_info_topic"  value="/$(arg camera)/color/camera_info"/>
            <arg name="queue_size"         value="200"/>
            <arg name="rviz"               value="$(arg use_rviz)"/>
            <arg name="rtabmapviz"         value="$(arg use_rtabmapviz)"/>
    </include>

    <!--
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    -->

    <include file="$(find robot2_setup_tf)/launch/robot2_setup_tf.launch" />
    
    <node name="base_controller" pkg="base_controller_robot2" type="base_controller_robot2_node" />

    <node name="panda_motor_driver" pkg="panda_motor_driver" type="panda_driver_motors.py" />
</launch>